<div>
  <gsv-title></gsv-title>
</div>

<gsv-form *ngIf="formulario" (formularioEnviado)="grabarFormulario($event)" (formularioCerrado)="cerrarFormulario()"
  [data]="fila"></gsv-form>

<gsv-container>
  <perfect-scrollbar>
    <gsv-table [data]=" data" [metaDataColumns]="metaDataColumns" [title]="title"
      (onClick)="accionEditar($event)"></gsv-table>
  </perfect-scrollbar>

  <gsv-paginator [length]="totalRegistros" (onChangePage)="changePage($event)">
  </gsv-paginator>

</gsv-container>
<gsv-keypad-button [keypadButtons]="keypadButtons" (onClick)="enviarAccion($event)">