<div class="container">
  <gsv-title></gsv-title>
  <gsv-form-user [dataCliente]="registrosClientes" [dataVendedor]="registrosVendedores"
    (formularioEnviado)="grabarUserRegister($event)"></gsv-form-user>
  <gsv-form [data]="registrosProducto" (formularioEnviado)="grabarFormulario($event)"></gsv-form>
</div>

<gsv-container>
  <perfect-scrollbar>
    <gsv-sale-table [data]=" data" [metaDataColumns]="metaDataColumns"></gsv-sale-table>
  </perfect-scrollbar>

  <gsv-paginator [length]=" totalRegistros" (onChangePage)="changePage($event)">
  </gsv-paginator>

  <button class="btn btn-primary" (click)="setVenta()">
    <i class="fas fa-shopping-cart"></i> Generar Venta
  </button>

</gsv-container>